body {
    background: #000000;
    margin: 0;
    width: 100%;
    color: rgb(34, 197, 94);
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.main-title {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: 500;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media (max-width: 1240px) {
        display: none;        
    }
}

.frame {
    position: relative;
    white-space: pre;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: #000000;
    border-radius: 10px;
    color: rgb(34, 197, 94);
    border: 1px solid rgb(34, 197, 94);
}

/* Фон модального окна */
.modal {
    display: none; /* Скрываем окно по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    justify-content: center;
    backdrop-filter: blur(5px);
    align-items: center;
}

/* Контент модального окна */
.modal-content {
    position: relative;
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    width: 800px;
    min-height: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease;
    border: 1px solid rgb(34, 197, 94);
}

/* Анимация появления */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Кнопка закрытия */
.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(34, 197, 94);
    cursor: pointer;
}

/* Стили для текста */
#modalText {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    width: 1205px;
}


.point-1 {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(34, 197, 94);
    bottom: 46px;
    right: 236px;
    animation: point-1 6.3s linear infinite;
}


@keyframes point-1 {
    10% {
        bottom: 60px;
        right: 236px;
    }
    20% {
        bottom: 60px;
        right: 244px;
    }
    30% {
        bottom: 60px;
        right: 252px;
    }
    40% {
        bottom: 75px;
        right: 252px;
    }
    50% {
        bottom: 90px;
        right: 252px;
    }
    60% {
        bottom: 75px;
        right: 252px;
    }
    70% {
        bottom: 60px;
        right: 252px;
    }
    80% {
        bottom: 60px;
        right: 244px;
    }
    90% {
        bottom: 60px;
        right: 236px;
    }
    100% {
        bottom: 46px;
        right: 236px;
    }
}

.error {
    display: none;
    text-align: center;

    @media (max-width: 1240px) {
        display: block;        
    }
}
